*.ipynb_checkpoints
*ner-2.pt.*
*ner-lstm.pt.*
*__pycache__
*.gz
**/LST20_Corpus
._LST20_Corpus
**/cache_dir
**/runs
**/outputs
**weigh*
**model_seq_512
**/checkpoint*
**/push_huggingface
**/tmp_trainer
**/wandb
**/thwiki-20220401-stub-meta-history
**/thwiki-latest-stub-meta-history
**/thwiki-latest-stub-meta-history.xml
